.portfolio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;

}
.portfolio_nav{
    display: flex;
    color: aliceblue;
    font-size: 2rem;
    margin:1rem 6rem;
    cursor: pointer;
    gap:1rem;
    /* background: red; */
}
.portfolio_nav>li{
    list-style: none;
}
.portfolio_nav>li>a{
    color: white;
}
.portfolio_nav>li>a:hover{
    color: var(--springGreen);
}
.portfolio_nav>li>a.active{
    color: var(--springGreen);
}

.portfolio .box-container .box{
    /* height: 20rem; */
    /* width: 26rem; */
    height: 30rem;
    width: 38rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio .box-container .box:hover img{
    transform: scale(1.05);
}
.portfolio .box-container .box:hover .project-content{
    /* transform: scale(1.1); */
    bottom: 10%;
}
.sub-heading{
    font-size: 2.5rem;
    color: var(--springGreen);
    text-decoration: underline;
}
.project-content{
    /* background-color: var(--springGreen); */
    background-color: rgb(44, 44, 44);
    opacity: 0.88;
    color: #111;
    position: absolute;
    /* top: 0; */
    /* bottom: 10%; */
    bottom: -90%;
    width: 90%;
    height: 70%;
    font-size: 1.4rem;
    padding: 1rem;
    /* color: orangered; */
    border-radius: 1rem;
}
.project-content h2{
    color: red;
    font: 900;
    text-align: center;
    font-size: 2.5rem;
}
.project-content p{
    color: white;
    margin: 1rem;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.project-content a{
    /* background-color: #222; */
    background-color: gray;
    color: white;
    padding: 0.7rem 1.5rem;
    margin: 1rem;
    /* margin-top: 2rem; */
}
.project-content a:hover{
    background-color: orangered;
    color: 1rem;
}